body {
    font-family: Arial, sans-serif;
    background:#f8f4ef;
    margin:0;
}


header, footer {
    background:#6F4E37;
    color:white;
    text-align:center;
    padding:20px;
}


main {
    width:90%;
    max-width:600px;
    margin:auto;
}


form {
    background:white;
    padding:20px;
    border-radius:10px;
}


label {
    display:block;
    margin-top:15px;
}


span {
    color:red;
}


input,
select,
textarea {
    width:100%;
    padding:10px;
    margin-top:5px;
}


textarea {
    height:100px;
}


input[type="radio"],
input[type="checkbox"] {
    width:auto;
}


input[type="submit"] {

    background:#D4AF37;
    border:none;
    cursor:pointer;
    margin-top:20px;

}


@media screen and (min-width:768px){

    main {
        max-width:700px;
    }

}